<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat|Nanum+Gothic|Poppins|Raleway|Josefin Sans');
  </style>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  {% if title %} <title> Flash Cards - {{title}}</title>
  {% else %} <title> Flash Cards </title>
  {% endif %}
</head>
<body>
<div id="navbar">
  <a href="/">Home</a>
  <a href="/quiz">Quiz</a>
  <a href="/tutorials">Flask Tutorials</a>
  <p>Resources</p>
  <p>Other</p>
</div>

  <div id="header">
    <h1>Flash Cards</h1>
  </div>

  <h2>Welcome</h2>

  <h3>Welcome to my flash cards site! Where I can store questions and test my memory on topics without wasting paper :-)</h3>

  {% block content %} {% endblock %}
</body>
</html>
